.item {
  color: black;
}

.title {
  margin-left: 3%;
  margin-top: 5%;
}

.textarea {
  margin-left: 3%;
  margin-top: 3%;
  width: 500px;
  height: 150px;

}
.postsElements {
  margin-top: 3%;
  margin-left: 3%;
}