
.app-wrapper {
  display: grid;
   background-image: 
     url('https://images.hdqwalls.com/download/blue-blur-color-4k-wp-1920x1080.jpg');
grid-template-areas:
"header header"
"nav content";
grid-template-rows : 1fr 11fr  ;
 grid-template-columns : 2fr 10fr ;
    grid-gap: 20px;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #f6ddc5;
  margin-right: 100px;

} 
