.app-wrapper {
  display: grid;
  width: 1350px;
  margin: auto;
   background-image: 
     url('https://img.freepik.com/free-vector/abstract-digital-wave-particles-background_1409-1276.jpg?w=996&t=st=1663798736~exp=1663799336~hmac=61cddbed9cf0d31052e3aa9d4e7997a261f3cbfe54bc3eb90371cf8c822cd87e');
    
grid-template-areas:
"header header"
"nav content";
grid-template-rows : 90px 1fr 5fr;
 grid-template-columns : 1fr 20fr ;
    grid-gap: 40px;
}

.header {
  grid-area: header;
  background-color:#091930;
}
.header img {
  width: 100px;
  clip-path: circle(40%);
}

.nav {
  grid-area: nav;
  background-color:#091930;
  margin-bottom: auto;
  width: 100px;
  margin-left: 13px; 

}

.content {
  grid-area: content; 
  background-color:white;
  margin-right: 100px;

}
